# Build results
bin/
obj/
out/
Debug/
Release/
x64/
x86/
[Aa]rtifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Log files
*.log

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
.nuget/

# Others
*.swp
*.DS_Store
*.resx
*.exe
*.dll
*.pdb

# Secrets
appsettings.*.json
